version: '3.4'
services:
  hab:
    image: 'maison-hass'
    container_name: maison_hab_hass
    build: ./services/hass
    restart: always
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - './data/services/hass/conf:/config'
    ports:
      - '8123:8123'
    extra_hosts:
      - host.docker.internal:host-gateway
